.godot/
.mono/
bin/
obj/
dist/
*.uid
*.import
*.old
*.dll
*.pdb
*.pck
*.zip
sts2.dll
MapNodeChangerConfig.json
mod-manager-config.yaml
.worktrees/
!third_party/
!third_party/BaseLib/
!third_party/BaseLib/BaseLib.dll
!third_party/BaseLib/BaseLib.pck
